---
import Layout from '../../layouts/Page.astro'
import ArtPage from '../../components/Arts/ArtPage.astro'
import { getSanityImageURL } from '../../utils/helpers.js';
import { getAllArts } from '../../lib/api.js';

export interface Props {
  art: any;
}



export async function getStaticPaths() {
  const allMusicInfos = await getAllArts();
  return allMusicInfos.map (art => art.images && art.images.map((images) => ({
    params: {
        slug: images.slug.current,
    },
    props: {
        art
    }
})));
}

// const allMusicInfoss = await getAllArts();
// return allMusicInfoss.map (art => art.images && art.images.map((images) => ({
//     params: {
//         slug: images.slug.current,
//     },
//     props: {
//         art
//     }
// })));


const { art } = Astro.props;

const seo = {
  title: art.images[0].title,
  description: art.images.description
}
---
<Layout>

  {art.images.map((images) =>
    <ArtPage art={images._key} />)}

  <!-- {art.images.map((images) =>
    <ArtPage art={images} />)} -->

  <!-- {art.images.map(images => (
    <h1>{images.title}</h1>
    ))} -->

  <!-- {art => art.images && art.images.map((images) => ({
    params: {
        slug: images.slug.current,
    },
    props: {
        art
    }
  }))
  }

  <h1>{art.images.title}</h1> -->


  <!-- <ArtPage art={art}/> -->



</Layout>