---
import type { Photo } from "../../data/types/Photo";
import { photos } from "../../data/photos";
import Layout from "../../layouts/Page.astro";

export interface Props {
  photo: Photo;
}
const { photo } = Astro.props as Props;

export const getStaticPaths = async () => {
  return photos.map((p) => {
    return { params: { id: p.id }, props: { photo: p } as Props };
  });
};

const seo = {
  title: photo.title,
  description: 'TheFoxxStuff Artworks',
}
---

<Layout seo={seo}>

  <div class="div-block-2"></div>
  <div class="dirbox">
      <div class="dirbox">
          <h1 class="heading-isssn">{photo.title}</h1>
          <div class="dir">
              <a href="/">
                  <div id="dirdark" class="dirlink">Home</div>
              </a>

              <img src="/img/icons/cheveron-right.svg">

              <a href="/art/">
                  <div class="dirlink_cor">Art's</div>
              </a>

              <img src="/img/icons/cheveron-right.svg">

              <a href={`/arts/${photo.id}`} download="filename">
                  <div class="dirlink_cor">{photo.title}</div>
              </a>
          </div>
      </div>
  </div>

  <img
    src={photo.src.compressed}
    alt={photo.alt}
    class="artworkscreen"
  />

  {photo.location}<br>

  {photo.date?.toLocaleString("en-US", { month: "long" })} 
  {photo.date?.getFullYear()}<br>

  <a href={photo.src.original} download="kitten" class="underline">
    Download Original
  </a>


  <!-- <div class="frame">
    <div title={photo.title}>
      <div>
        <img
          src={photo.src.compressed}
          alt={photo.alt}
          class="w-full rounded-xl"
        />
      </div>
      <div class="my-3 md:flex md:flex-row">
        <div class="flex-auto space-y-2">
          <div>
            <p>{photo.location}</p>
            <p>
              {photo.date?.toLocaleString("en-US", { month: "long" })}
              {photo.date?.getFullYear()}
            </p>
          </div>
        </div>
        <div class="mt-3 md:mt-0">
          <p>
            <a href={photo.src.original} class="underline">
              Download Original
            </a>
          </p>
        </div>
      </div>
      </div>
  </div> -->
</Layout>

<style>
  .artworkscreen {
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
</style>