---
import Layout from '../layouts/Page.astro'
import ImagePreview from "../components/ImagePreview.astro";
import { artwork } from "../data/artwork";
import { photos } from "../data/photos";
import images from '../data/images.json';

const seo = {
  title: 'Arts',
  description: 'TheFoxxStuff Artworks',
}
---


<Layout seo={seo}>
    <div class="div-block-2"></div>
    <div class="dirbox">
        <div class="dirbox">
            <h1 class="heading-isssn">Music</h1>
            <div class="dir">
                <a href="/">
                    <div id="dirdark" class="dirlink">Home</div>
                </a>

                <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

                <a href="/arts">
                    <div class="dirlink_cor">Art's</div>
                </a>
            </div>
        </div>
    </div>
    <h1 class="heading">2022</h1>
    <div class="relises">
        {artwork.map((art) => <ImagePreview image={art} />)}


        {images.map(image => {
            return (
                    <div key={image.id}>
                        <a href={image.link}>
                        <div class="photo-box">
                            <img src={image.image} alt={ image.title } />
                        </div>  
                        </a>
                    </div>
                )
        })}


        
    </div>

    <h1 class="heading">2021</h1>
    <div class="relises">
        {photos.map((photo) => (
            <ImagePreview image={photo} href={`/arts/${photo.id}`} />
          ))}
    </div>
</Layout>